@import "fonts";
@import "rouge-github";

:root{
  --black:#000000;
  --grey:#c6cbd1;
  --primary:#2ecc71;
  --secondary:#239b56;
  --text-secondary:#4e4e4e;
  --background: #d5f5e3;
  --light-primary:#f3f3f3;
}


body {
  background-color: #fff;
  padding: 20px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

i{
  color: var(--primary);
}
h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 5px;

}

p, ul, ol, table, pre, dl {
  margin:0 0 0px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:1200px;
  margin:0 auto;
  height: auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width:380px;
  float:left;
  -webkit-font-smoothing:subpixel-antialiased;
  background-color: #F9FAFB;
  padding: 20px;
  border-radius: 10px;

}

.currently{
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  width: 200px; /* Adjust height if needed */
  padding: 2px 5px; /* Add padding */
  overflow: hidden; /* Hide overflow for the shiny effect */
  font-size: 12px;
  text-align: center;
}

ul.user_socials {
  list-style:none;
  padding: 0px;
  margin-top:10px;
  height: 40px;
}

.user_socials li{
  display: inline-flex;
  align-items: left;
  vertical-align: center;
}

.user_socials li:last-child a{
font-size: 13px;
line-height: 18px;
border: solid 1px var(--text-secondary);
border-radius: 10px;
padding: 0px 8px;
color: var(--text-secondary);
}


.user_socials i{
  font-size: 18px;
  color: var(--text-secondary);
}



.user_socials a:hover, .user_socials a:focus {
  color:var(--black);
}

strong {
  color:#222;
  font-weight:700;
}


section {
  width:750px;
  float:right;
  padding-bottom:50px;
  padding-left: 20px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  bottom:60px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:20px;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }

}

@media screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .user_socials {
    width:99%;
  }

  .user_socials li, .user_socials li + li + li {
    width:33%;
  }

  .user_socials li{
    display: inline;
  }

  .project_container {
    display: grid;
    grid-template-columns: 1fr!important;
    }

  .card {
      background: #fff; /* Background color for cards */
      border-bottom: solid;
      border-width: 1px;
      border-color: var(--light-primary);
      padding-bottom: 10px;
  }

  .experience-header {
      display: block!important;
  }

  .post_header{
    display: block!important;
    margin-bottom: 10px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}




.user_title a{
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  margin-top: 10px;
}
.user_des {
  margin-top: 5px;
  color: var(--black);
  font-size: 14px;
}
.user_loc {
  color: var(--text-secondary);
  font-size: 12px;
  margin-bottom: 20px;
}
.user_img{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.skills li{
  display: inline-flex;
  color: var(--secondary);
  background-color: var(--background);
  border-radius: 100px;
  padding: 2px 8px;
  margin: 3px 2px;
  align-items: left;
  font-size: 12px;
  line-height: 16px;
}
ul.skills{
  padding: 0px!important;
}


// Code the grid

.section_title{
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 200;
  margin-bottom: 10px;
}

.user_sec_title{
  font-size: 12px;
  color: var(--text-secondary);
  font-weight: 200;
}

.project_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  margin-top: 10px;
  margin-bottom: 30px;
}


.card-image {
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the aspect ratio */
  display: block; 
  width: 100%; 
  border-radius: 8px; 
  margin-bottom: 10px;
}

.skills {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.skills li {
  margin-bottom: 10px; /* Margin between list items */
}

.item_des {
  margin: 5px 0px 10px 0px;
  font-size: 14px;
  font-weight: 100;
  color: var(--black);
}



.read-more {
  display: inline-block; 
  margin-top: 8px; 
  color: var(--primary); 
  text-decoration: none; 
  font-size: 12px;
}

.read-more:hover {
  text-decoration: underline; /* Underline on hover */
  color: var(--background);
  font-weight: 300;
}

// experince container

.experience-container {
  display: flex;
  flex-direction: column; /* Stack cards in a column */
  gap: 16px; /* Space between cards */
  margin-bottom: 30px;
}

.experience-card {
  border-bottom: solid;
  border-width: 1px;
  border-color: var(--light-primary);
  margin-bottom: 10px;
}

.experience-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.item_title{
  font-size: 14px; 
  color: var(--black); 
  font-weight: 700;
}

.company-name {
  margin: 4px 0; 
  font-size: 12px; 
  color:var(--black); 
  font-weight: 400;

}

.job-dates {
  margin: 0; 
  color: var(--black); 
  font-size: 12px; 
}

.present_date{
  margin: 0; 
  color: var(--primary); 
  font-size: 12px;
}

// Single page
.post_title{
  font-size: 16px;
  color:var(--black); 
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
  height: auto;
  width: 80%;
}

.post_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.button {
  position: relative;
  background-color: var(--secondary);
  color: var(--light-primary);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  height: auto; /* Adjust height if needed */
  padding: 2px 5px; /* Add padding */
  overflow: hidden; /* Hide overflow for the shiny effect */
  font-size: 12px;
}

.button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: rotate(45deg);
  animation: shiny 2s linear infinite; /* Continuous animation */
}

@keyframes shiny {
  0% {
    transform: translateX(-150%) rotate(45deg);
  }
  100% {
    transform: translateX(150%) rotate(45deg);
  }
}