<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">


    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
          <img class="user_img" src="/portfolio/assets/img/1696650798667.jpeg" alt="Logo" />
        <h1 class="user_title">Smitkumar Patel</h1>
        <p class="currently">Looking for full-time roles </p>
        <p class="user_des">Graduate Student at Rutgers Univesity</p>
        <p class="user_loc">Based in New York, NY</p>
        <ul class="user_socials">
          <li><a href="https://www.linkedin.com/in/smit09/"><i class="fa-brands fa-linkedin"></i></a></li>
<!--           <li><a href="https://github.com/smit2444"><i class="fa-brands fa-github"></i></a></li> -->
          <li><a href="mailto:smitkumarpatel09@gmail.com">email me</a></li>
        </ul>
        <p class="user_sec_title">About Me</p>
        <p class="user_des">Aspiring tech engineer, my recent experience includes research contribution to develop Machine Learning Model for preserving privacy and leading fullstack development for government (NIH) funded project, and I have broad knowledge of computer science and computer engineering with a focus on software. I am always looking to improve my skills and applying my technical expertise.</p>
        <br>
        <p class="user_sec_title">Skills</p>
        <ul class="skills">
          <li>Python</li>
          <li>JavaScript</li>
          <li>Java</li>
          <li>C#</li>
          <li>SQL</li>
          <li>GraphQL</li>
          <li>Node JS</li>
          <li>REST APIs</li>
          <li>Flask</li>
          <li>React JS</li>
          <li>Vue JS</li>
          <li>HTML/CSS</li>
          <li>Web Scrapping</li>
          <li>Wordpress</li>
          <li>Material UI</li>
          <li>Bootstrap</li>
          <li>Tableau</li>
          <li>Power BI</li>
          <li>Matplotlib</li>
          <li>Seaborn</li>
          <li>MySQL</li>
          <li>MongoDB</li>
          <li>Kubernetes</li>
          <li>PyTorch</li>
          <li>Natural Language Processing (NLP)</li>
          <li>Deep Learning</li>
          <li>Text Classification</li>
          <li>Git</li>
          <li>Tableau</li>
          <li>Visual Studio Code</li>
          <li>Google Cloud Platform (GCP)</li>
          <li>AWS</li>
          <li>Postman</li> 
          <li>Agile Development</li>
          <li>Test Driven Development</li>
          <li>Machine Learning</li>
          <li>Training Language Models</li>
        </ul>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>Developed by Smit</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
